export SERVICE_CRED_APIKEY='XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
export SERVICE_CRED_URL='https://api.XX-XXXXX.assistant.watson.cloud.ibm.com/instances/XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX'
export ASSISTANT_ID='XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX'
